html {
  -ms-text-size-adjust: 100;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

details,
main,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure,
blockquote {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  display: block;
  line-height: 1.4;
  margin: 0;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible; }

button:focus {
  outline: 0; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input,
textarea {
  -webkit-appearance: none;
  background: transparent;
  border: 0; }

input:focus,
textarea:focus {
  outline: none; }

input[type=radio],
textarea[type=radio] {
  -webkit-appearance: radio;
  cursor: pointer; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

button,
input,
select[multiple],
textarea {
  background-image: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

iframe {
  border: 0; }

address {
  font-style: normal; }

input[disabled] textarea[disabled] {
  cursor: not-allowed; }

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none; }

select:focus,
a:focus {
  outline: 0; }

:root {
  --core-violet-1: #9aa2e7;
  --core-violet-2: #6d79e9;
  --core-violet-3: #6472e7;
  --core-violet-4: #4e5ee4;
  --core-violet-5: #4e5ee4;
  --robust-blue-1: #a1b1b8;
  --robust-blue-2: #6b8a99;
  --robust-blue-3: #506773;
  --robust-blue-4: #32444d;
  --robust-blue-5: #272f33;
  --future-green-1: #aaf2cb;
  --future-green-2: #33cc7a;
  --future-green-3: #17bc65;
  --future-green-4: #0e8c48;
  --future-green-5: #174d30;
  --steel-1: #6b6c6d;
  --steel-2: #58595a;
  --steel-3: #3a3b3c;
  --steel-4: #262728;
  --steel-5: #121314;
  --aluminum-1: #f9fafb;
  --aluminum-2: #f4f5f6;
  --aluminum-3: #e8e9ea;
  --aluminum-4: #cacbcc;
  --aluminum-5: #989a9b;
  --yellow-3: #f2be24;
  --viridian-3: #00b49d;
  --teal-3: #00b5d1;
  --navy-3: #178bea;
  --indigo-3: #5e66f9;
  --violet-3: #9a63f9;
  --red-3: #d1344e;
  --tertiary: #fff;
  --color-text: #282846;
  --color-navbar-text: #282846;
  --heading: "Silka", sans-serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --monospace: monospace;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 600;
  --header-height: 66px;
  --footer-height: 361px;
  --nav-item-height: 32px;
  --nav-width: 300px;
  --radius: 2px;
  --xs: 5px;
  --sm: 10px;
  --md: 15px;
  --lg: 20px;
  --xl: 40px;
  --input-md: 30px;
  --transition-speed-sm: 0.15s;
  --transition-speed-md: 0.3s;
  --transition-timing: cubic-bezier(0.46, 0.03, 0.52, 0.96); }

body {
  background: #fefefe;
  color: var(--steel-4);
  font-family: var(--sans-serif);
  font-size: 16px;
  line-height: 1.6; }

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.root > nav {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

@media (min-width: 1160px) {
  .container {
    max-width: 1160px; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-justified {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.grow {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

@font-face {
  font-family: "Silka";
  src: url("../fonts/silka-regular-webfont.eot");
  src: url("../fonts/silka-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/silka-regular-webfont.woff2") format("woff2"), url("../fonts/silka-regular-webfont.woff") format("woff"), url("../fonts/silka-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Silka";
  src: url("../fonts/silka-medium-webfont.eot");
  src: url("../fonts/silka-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/silka-medium-webfont.woff2") format("woff2"), url("../fonts/silka-medium-webfont.woff") format("woff"), url("../fonts/silka-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: 500; }

@font-face {
  font-family: "Silka";
  src: url("../fonts/silka-semibold-webfont.eot");
  src: url("../fonts/silka-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/silka-semibold-webfont.woff2") format("woff2"), url("../fonts/silka-semibold-webfont.woff") format("woff"), url("../fonts/silka-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: 600; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: var(--weight-medium);
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 30px;
  color: #282846;
  letter-spacing: 0;
  line-height: 32px;
  padding-bottom: 15px;
  border-bottom: solid 1.2px #d4d4da; }

h2 {
  font-size: 28px;
  padding-bottom: 15px; }

h3 {
  font-size: 28px;
  color: #282846;
  letter-spacing: 0;
  line-height: 32px;
  padding-bottom: 15px;
  border-bottom: solid 1.2px #d4d4da; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

.small {
  font-size: 13px;
  font-weight: var(--weight-normal);
  /* reset if within header tags */ }

.strong {
  font-weight: var(--weight-medium); }

.monospace {
  font-family: var(--monospace);
  font-size: 14px;
  font-weight: var(--weight-normal);
  white-space: pre;
  word-wrap: normal; }

.link {
  color: var(--steel-2); }

.link:hover {
  color: var(--violet-2); }

.link:focus, .link:active {
  color: var(--core-violet-3); }

svg {
  fill: currentColor; }

.input,
.textarea {
  background: var(--tertiary);
  border: 1px solid var(--aluminum-4);
  border-radius: 2px;
  color: var(--steel-5);
  font-size: 14px;
  height: var(--input-md);
  padding: var(--xs);
  -webkit-transition: -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: box-shadow var(--transition-speed-sm) var(--transition-timing), -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  width: 100%;
  word-break: normal; }

.input.focus, .input:focus,
.textarea.focus,
.textarea:focus {
  border-color: var(--core-violet-3);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 162, 223, 0.25);
  box-shadow: 0 0 0 3px rgba(0, 162, 223, 0.25); }

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: var(--aluminum-5); }

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: var(--aluminum-5); }

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: var(--aluminum-5); }

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: var(--aluminum-5); }

.input::placeholder,
.textarea::placeholder {
  color: var(--aluminum-5); }

.textarea {
  resize: vertical; }

.select {
  background: var(--tertiary);
  border: 1px solid var(--aluminum-4);
  color: var(--steel-5);
  font-size: 14px;
  height: var(--input-md);
  padding: var(--xs);
  -webkit-transition: -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: box-shadow var(--transition-speed-sm) var(--transition-timing);
  transition: box-shadow var(--transition-speed-sm) var(--transition-timing), -webkit-box-shadow var(--transition-speed-sm) var(--transition-timing);
  word-break: normal; }

.select.focus, .select:focus {
  border-color: var(--core-violet-3);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 162, 223, 0.25);
  box-shadow: 0 0 0 3px rgba(0, 162, 223, 0.25); }

.nav {
  height: 100vh;
  overflow-y: auto;
  padding: 2.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: var(--nav-width);
  background: #f8f8fa;
  color: #282846;
  padding-top: 70px; }

.nav .nav__domains {
  margin-top: 25px; }

.nav .search > .input {
  background-image: url(../images/icons/search.svg);
  background-position: 92% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 50px;
  position: relative;
  width: 260px;
  width: 100%;
  border: none;
  font-size: 0.8rem;
  padding: 0 2rem;
  border-bottom: solid 1px #e2e2e7;
  height: 70px;
  color: rgba(40, 40, 70, 0.7);
  position: absolute;
  top: 0;
  left: 0; }

.nav-list {
  max-height: var(--nav-item-height);
  -webkit-transition: max-height var(--transition-speed-md) var(--transition-timing);
  transition: max-height var(--transition-speed-md) var(--transition-timing); }

.nav-list.active {
  margin-top: var(--sm); }

.nav-list.active > .nav-li:first-child .nav-link {
  color: var(--core-violet-3);
  cursor: default; }

.nav-list.active + .nav-list {
  margin-top: var(--sm); }

.nav-list.active .nav-li {
  opacity: 1;
  visibility: visible; }

.nav-list > .nav-li .nav-link,
.nav-list > .nav-li .nav-heading {
  padding-left: 25px; }

.nav-li.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-speed-md) var(--transition-timing), visibility var(--transition-speed-md) var(--transition-timing);
  transition: opacity var(--transition-speed-md) var(--transition-timing), visibility var(--transition-speed-md) var(--transition-timing);
  visibility: hidden; }

.nav-li.active .nav-link {
  color: var(--core-violet-3); }

.nav-link,
.nav-heading {
  font-size: 14px;
  padding: var(--xs); }

.nav-link.nav-heading {
  font-family: "Silka"; }

.nav-link {
  font-family: Arial, Helvetica, sans-serif; }

.nav-link {
  cursor: pointer;
  padding: calc(var(--xs) * 0.5);
  padding-left: 25px;
  position: relative;
  text-decoration: none; }

.nav-link .icon {
  height: var(--lg);
  left: 0;
  margin-right: var(--md);
  position: absolute;
  width: var(--lg); }

.nav-link .icon + span {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.98rem; }

.nav-heading {
  color: var(--steel-2); }

.nav-li[data-depth="0"] .nav-heading,
.nav-li[data-depth="1"] .nav-heading,
.nav-li[data-depth="2"] .nav-heading,
.nav-li[data-depth="3"] .nav-heading,
.nav-li[data-depth="4"] .nav-heading,
.nav-li[data-depth="5"] .nav-heading,
.nav-li[data-depth="6"] .nav-heading {
  font-weight: var(--weight-medium);
  margin-top: var(--md); }

.nav-li[data-depth="0"] .nav-heading {
  font-size: 0.875rem;
  font-weight: var(--weight-medium);
  margin-top: var(--sm);
  opacity: 0.9;
  color: #282846; }

.nav-li[data-depth="0"] .nav-link {
  padding-left: calc(var(--md) * 2); }

.nav-li[data-depth="1"] .nav-heading {
  font-size: 0.8rem;
  font-weight: var(--weight-normal);
  opacity: 0.6;
  text-transform: uppercase;
  color: #282846; }

.nav-li[data-depth="1"] > .nav-link {
  padding-left: calc(var(--md) * 2);
  color: #7b7b8e; }

.nested-list {
  margin-bottom: var(--sm); }

.version-select {
  font-size: 12px;
  font-weight: var(--weight-normal);
  width: 45px; }

.btn-version {
  border: 1px solid var(--aluminum-4);
  border-radius: 22px;
  color: var(--aluminum-5);
  font-size: 12px;
  height: 22px;
  padding: 0 var(--xs) 0 var(--sm);
  position: relative; }

.btn-version:hover, .btn-version:focus {
  border-color: var(--aluminum-5);
  color: var(--steel-1); }

.btn-version:active {
  background: var(--tertiary);
  border-color: var(--core-violet-3);
  color: var(--core-violet-3); }

.btn-version svg {
  fill: currentColor;
  height: var(--md);
  width: var(--md); }

.btn-version:focus {
  background: var(--tertiary);
  border-color: var(--core-violet-3);
  color: var(--core-violet-3); }

.btn-version:focus .popover {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
  text-align: left;
  padding: 22px; }

.btn-version:focus .popover .ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px; }

.btn-version:focus .popover .ol:last-child {
  margin-bottom: 0; }

.btn-version:focus .popover .popover__heading,
.btn-version:focus .popover .li {
  font-family: HelveticaNeue;
  font-size: 0.98rem;
  color: #282846;
  line-height: 22px; }

.btn-version:focus .popover .popover__heading {
  opacity: 0.9;
  margin-bottom: 5px;
  display: inline-block; }

.btn-version:focus .popover .popover__heading:last-child {
  margin-bottom: 0; }

.btn-version:focus .popover .li {
  opacity: 0.8; }

.btn-version:focus .popover .li:first-child {
  margin: 0;
  padding: 0; }

.btn-version:focus .popover .ol .li {
  display: inline-block; }

.popover {
  background: var(--tertiary);
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  color: var(--steel-4);
  cursor: default;
  min-width: 200px;
  opacity: 0;
  padding: var(--xs);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 25px;
  -webkit-transform: scale(0.95) translate3d(5px, -25px, 0);
  transform: scale(0.95) translate3d(5px, -25px, 0);
  -webkit-transform-origin: 95% 0;
  transform-origin: 95% 0;
  -webkit-transition: opacity var(--transition-speed-sm) var(--transition-timing), -webkit-transform var(--transition-speed-sm) var(--transition-timing);
  transition: opacity var(--transition-speed-sm) var(--transition-timing), -webkit-transform var(--transition-speed-sm) var(--transition-timing);
  transition: opacity var(--transition-speed-sm) var(--transition-timing), transform var(--transition-speed-sm) var(--transition-timing);
  transition: opacity var(--transition-speed-sm) var(--transition-timing), transform var(--transition-speed-sm) var(--transition-timing), -webkit-transform var(--transition-speed-sm) var(--transition-timing);
  z-index: 1; }

.popover .ol + .ol {
  margin-top: var(--xs); }

.popover .small,
.popover .li-heading {
  padding-bottom: var(--xs);
  padding-right: var(--sm);
  padding-top: var(--xs); }

.popover .li,
.popover .li-heading,
.popover .small {
  padding-left: var(--sm); }

.popover .li-heading {
  font-weight: var(--weight-medium);
  text-align: left; }

.popover .li {
  border-radius: 2px;
  cursor: pointer; }

.popover .li:hover, .popover .li:focus {
  background: var(--aluminum-2); }

.popover .li:active {
  background: #e2f8ff;
  color: var(--core-violet-3); }

.popover .li svg {
  height: 25px;
  padding: var(--xs);
  width: 25px; }

.popover .li svg:hover, .popover .li svg:focus {
  fill: var(--core-violet-3); }

.popover .small {
  border-top: 1px solid var(--aluminum-3);
  color: var(--aluminum-5);
  font-size: 11px;
  margin-top: var(--xs);
  padding-top: var(--xs);
  text-align: left; }

.popover .small svg {
  margin-right: var(--xs); }

.popover svg {
  fill: currentColor; }

.toolbar {
  width: 100%; }

.toolbar .container {
  padding: var(--lg) var(--lg);
  margin: 0; }

.breadcrumbs {
  padding: 0 var(--lg); }

.breadcrumbs .link {
  font-size: 12px;
  height: var(--lg);
  opacity: 0.75;
  text-decoration: none; }

.breadcrumbs .link:hover, .breadcrumbs .link:active, .breadcrumbs .link:focus {
  opacity: 1; }

.breadcrumbs .link-home:active svg, .breadcrumbs .link-home:focus svg {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.breadcrumbs .link-home svg {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  height: var(--lg);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  width: var(--lg); }

.breadcrumbs .li + .li::before {
  background-image: url(../images/icons/chevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--md);
  content: "";
  display: inline-block;
  height: var(--md);
  margin: 0 var(--xs);
  opacity: 0.4;
  pointer-events: none;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: var(--md); }

.version-select + .link-edit {
  margin-left: var(--lg); }

.link-edit {
  font-size: 12px;
  height: var(--lg);
  text-decoration: none; }

.link-edit svg {
  height: var(--md);
  margin-right: var(--xs);
  width: var(--md); }

html.is-clipped--navbar {
  overflow-y: hidden; }

.header {
  margin-bottom: 20px;
  border-bottom: solid 1px #e2e2e7; }

.navbar {
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-text);
  font-size: 0.83333rem;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
  height: 70px; }

.navbar a {
  text-decoration: none; }

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--color-navbar-text);
  font-size: 1.15rem; }

.navbar-brand .separator {
  padding: 0 0.375rem; }

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--color-navbar-text); }
  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    color: var(--color-navbar-hover); }
  .navbar-end .navbar-link::after {
    border-color: var(--color-navbar-text); }
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--color-navbar-bg-focus);
    color: var(--color-navbar-text); } }

.navbar-brand {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: var(--height-navbar); }

.navbar-burger {
  color: var(--color-navbar-text);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  height: var(--height-navbar);
  position: relative;
  /* width: var(--height-navbar); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0; }

.navbar-burger::-moz-focus-inner {
  border: none; }

.navbar-burger span {
  background-color: var(--color-navbar-text);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px; }

.navbar-burger span:nth-child(1) {
  margin-top: -6px; }

.navbar-burger span:nth-child(2) {
  margin-top: -1px; }

.navbar-burger span:nth-child(3) {
  margin-top: 4px; }

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0; }

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }

.navbar-menu {
  display: none; }

.navbar-item,
.navbar-link {
  color: var(--color-text);
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
  font-family: "Silka";
  font-weight: 500;
  font-size: 0.9rem; }

.navbar-item {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2.5rem; }

.navbar-item.has-dropdown {
  padding: 0; }

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block; }

.navbar-link {
  padding-right: 2.5em; }

.navbar-dropdown {
  font-size: 0.875rem; }

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.navbar-divider {
  background-color: #e1e1e1;
  border: none;
  height: 1px;
  margin: 0.25rem 0; }

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar-menu {
    background-color: #fff;
    padding: 0.5rem 0; }
  .navbar-menu.is-active {
    display: block;
    -webkit-box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--height-nav);
    overflow-y: auto; }
  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: #fafafa; } }

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar-burger {
    display: none; }
  .navbar-item,
  .navbar-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar-item.has-dropdown {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block; }
  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%; }
  .navbar-menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .navbar-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto; }
  .navbar-dropdown {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    display: none;
    font-size: 0.875rem;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute; }
  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap; }
  .navbar-dropdown a.navbar-item {
    padding-right: 3rem; }
  .navbar-dropdown.is-right {
    left: auto;
    right: 0; }
  .navbar-dropdown a.navbar-item:hover {
    background-color: #fafafa; } }

.navbar .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 0.15rem;
  height: 1.75rem;
  color: #333;
  padding: 0 0.75em;
  white-space: nowrap; }

footer.footer {
  font-size: 0.7rem;
  background-color: #fff;
  padding: 25px 2rem;
  color: #5d5d5d;
  border-top: solid 1px rgba(40, 40, 70, 0.1); }

.footer a {
  color: rgba(40, 40, 70, 0.7);
  display: inline;
  margin-left: 7px;
  border-left: 1px solid rgba(40, 40, 70, 0.7);
  padding-left: 7px; }

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--header-height);
  position: relative; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  min-width: 0; }

#st-open .st-default-search-input {
  display: none; }

.st-open-btn {
  background: url(../images/icon/search.svg) no-repeat center center;
  background-size: 60%;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
  outline: none; }

.st-open-btn::-moz-focus-inner {
  border: none; }

.article {
  padding-bottom: var(--lg);
  /* matches nav padding */
  padding-left: var(--xl);
  padding-right: var(--xl);
  /** Custom **/ }

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-bottom: var(--sm);
  margin-top: var(--sm); }

.article > h1:first-child {
  margin-top: 0;
  margin-bottom: 20px; }

.article h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 3em;
  color: gray; }

.article p,
.article ul,
.article ol,
.article dl,
.article figure,
.article img {
  margin-bottom: var(--sm);
  margin-top: var(--sm); }

.article pre,
.article table,
.article aside {
  margin-bottom: var(--lg);
  margin-top: var(--lg); }

.article h1:hover .anchor, .article h1:focus .anchor,
.article h2:hover .anchor,
.article h2:focus .anchor,
.article h3:hover .anchor,
.article h3:focus .anchor,
.article h4:hover .anchor,
.article h4:focus .anchor,
.article h5:hover .anchor,
.article h5:focus .anchor,
.article h6:hover .anchor,
.article h6:focus .anchor {
  opacity: 0.5; }

.article h1:active .anchor,
.article h2:active .anchor,
.article h3:active .anchor,
.article h4:active .anchor,
.article h5:active .anchor,
.article h6:active .anchor {
  opacity: 0.75; }

.article .anchor {
  display: inline-block;
  height: var(--lg);
  margin-left: -25px;
  margin-top: 10px;
  opacity: 0;
  padding-right: var(--sm);
  position: absolute;
  -webkit-transition: opacity var(--transition-speed-sm) var(--transition-timing);
  transition: opacity var(--transition-speed-sm) var(--transition-timing); }

.article .anchor:focus {
  opacity: 0.5; }

.article .anchor::before {
  background-image: url(../images/icons/anchor.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--lg);
  content: "";
  display: block;
  height: var(--lg);
  width: var(--lg); }

.article a {
  color: var(--core-violet-3); }

.article a:focus, .article a:hover {
  color: var(--core-violet-2); }

.article a:active {
  color: var(--core-violet-4); }

.article img {
  max-width: 100%; }

.article pre,
.article code {
  font-family: var(--monospace);
  font-size: 13px; }

.article pre {
  background: var(--aluminum-1);
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  padding: var(--md);
  overflow: auto; }

.article pre code {
  background: none;
  border: 0;
  border-radius: 0;
  top: 0; }

.article code {
  background: var(--aluminum-1);
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  padding: 2px var(--xs);
  position: relative;
  top: -1px; }

.article table {
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%; }

.article table p {
  margin-bottom: 0;
  margin-top: 0; }

.article th {
  border-bottom: 2px solid var(--steel-3);
  text-align: left; }

.article tr + tr {
  border-top: 1px solid var(--aluminum-3); }

.article td,
.article th {
  padding: var(--xs) var(--sm); }

.article td + td,
.article th + td {
  border-left: 1px solid var(--aluminum-3); }

.article ol,
.article ul {
  padding-left: var(--lg); }

.article ol ol,
.article ol ul,
.article ul ol,
.article ul ul {
  font-size: 13px; }

.article ol img,
.article ul img {
  height: auto;
  max-width: 350px; }

.article ol {
  list-style-type: decimal; }

.article ul {
  list-style-type: circle; }

.article dl {
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  padding: var(--md); }

.article dt {
  font-weight: var(--weight-medium); }

.article dt::after {
  content: ":"; }

.article dd {
  margin-left: 0; }

.article dd + dt {
  border-top: 1px solid var(--aluminum-3);
  margin-top: var(--sm);
  padding-top: var(--sm); }

.article aside {
  background: var(--aluminum-1);
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  color: var(--steel-1);
  font-size: 14px;
  padding: var(--md) var(--lg) var(--sm); }

.article aside::before {
  background-image: url(../images/icons/note.svg);
  background-position: left 40%;
  background-repeat: no-repeat;
  background-size: 18px;
  color: var(--steel-5);
  content: "Note";
  display: block;
  font-size: 16px;
  font-weight: var(--weight-medium);
  opacity: 0.7;
  padding-left: 20px; }

.article code {
  border: none;
  background-color: #f5f6fe;
  border-radius: 6px;
  color: #5766e5;
  padding: 0.2rem; }

.article .tableblock thead,
.article .tableblock tr,
.article .tableblock td,
.article .tableblock th,
.article .tableblock tbody {
  border: none; }

.article .tableblock code {
  border: none;
  background-color: #f5f6fe;
  border-radius: 6px;
  color: #5766e5; }

.article .tableblock code.primary {
  color: #4e4e67; }

.article .tableblock code.secondary {
  color: #ab49d6; }

.article .tableblock code.light {
  color: #4f4f68; }

.article .tableblock th {
  border-bottom: solid 1px #f1f1f3;
  opacity: 0.4;
  font-family: Silka;
  font-size: 12px;
  color: #282846;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase; }

.article .listingblock,
.article .sidebarblock {
  padding: 1.5rem;
  background-color: #fbfbfc;
  margin: 1rem 0; }

.article .listingblock .title,
.article .sidebarblock .title {
  opacity: 0.8;
  font-family: Silka;
  font-size: 0.8rem;
  color: #4e5ee4;
  letter-spacing: 0.8px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase; }

.article .listingblock.description,
.article .sidebarblock.description {
  background-color: #fbfbfc; }

.article .listingblock code,
.article .listingblock pre,
.article .sidebarblock code,
.article .sidebarblock pre {
  border: none;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
  font-family: var(--sans-serif);
  line-height: 1.8rem;
  font-size: 0.875rem; }

.article .sidebarblock {
  border: solid 1px #e9e9ed;
  border-radius: 6px; }

.article .sidebarblock.function {
  padding: 0; }

.article .sidebarblock.function .title {
  position: relative;
  padding: 1rem;
  background-color: #fbfbfc;
  color: #292947;
  border-bottom: solid 1px #e9e9ed;
  text-transform: none;
  font-family: var(--sans-serif); }

.article .sidebarblock.function .title code {
  border: none;
  background-color: #f5f6fe;
  border-radius: 5px;
  color: #5766e5;
  padding: 3px 10px;
  display: inline;
  font-size: 0.8rem; }

.article .sidebarblock.function .title code.primary {
  color: #4e4e67; }

.article .sidebarblock.function .title code.secondary {
  color: #ab49d6; }

.article .sidebarblock.function .title code.light {
  color: #4f4f68; }

.article .sidebarblock.function .function__type {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem; }

.article .sidebarblock.function .literalblock {
  background: white;
  padding: 1rem; }

.article .sidebarblock.function .literalblock pre,
.article .sidebarblock.function .literalblock code {
  padding: 0;
  margin: 0;
  background-color: inherit; }

.alert p {
  font-family: Silka;
  color: inherit;
  font-size: 1rem; }

.admonitionblock,
.alert {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  font-family: Silka;
  color: #242424;
  line-height: 100%;
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  padding: 1.3rem 1rem;
  display: block;
  background-color: white;
  margin: 1.5rem 0;
  background-repeat: no-repeat;
  background-size: 35px;
  background-origin: border-box;
  background-position: 1.5rem center; }

.admonitionblock table,
.alert table {
  padding: 0;
  margin: 0; }

.admonitionblock table th,
.admonitionblock table td,
.alert table th,
.alert table td {
  border: none;
  padding: 0;
  margin: 0; }

.admonitionblock .content,
.alert .content {
  padding-left: 60px;
  font-size: 1rem; }

.admonitionblock.note,
.alert.note {
  border: 1px solid #a134d1;
  color: #a134d1;
  color: #a134d1;
  background-image: url(../images/icons/unicorn.png); }

.admonitionblock.tip,
.alert.tip {
  border: 1px solid #4e5ee4;
  color: #4e5ee4;
  color: #4e5ee4;
  background-image: url(../images/icons/book.png); }

.admonitionblock.warning,
.alert.warning {
  border: 1px solid #ff7539;
  color: #ff7539;
  color: #ff7539;
  background-image: url(../images/icons/warning.png); }

.admonitionblock.note--secondary,
.alert.note--secondary {
  color: white;
  background-image: linear-gradient(45deg, #a134d1 0%, #6746d6 100%);
  background-size: 100%;
  background-position: 0; }

.admonitionblock.tip--secondary,
.alert.tip--secondary {
  color: white;
  background-image: linear-gradient(-135deg, #3f62ff 0%, #2ba3ff 100%);
  background-size: 100%;
  background-position: 0; }

.admonitionblock.warning--secondary,
.alert.warning--secondary {
  color: white;
  background-image: linear-gradient(-135deg, #ff8f3f 0%, #ff5533 100%);
  background-size: 100%;
  background-position: 0; }

.toc-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-height: 100vh;
  max-width: 250px;
  overflow-y: auto;
  padding: 20px 15px 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  min-width: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

@media (--lg) {
  .toc-sidebar {
    display: block; } }

.toc-sidebar .button-edit {
  font-size: 11px;
  font-weight: var(--weight-aluminum);
  margin-bottom: var(--lg);
  padding-bottom: 4px;
  padding-top: 4px; }

.toc-menu .heading {
  color: #282846; }

.toc-menu a {
  color: var(--color-text);
  display: block;
  font-size: 12px;
  padding: var(--xs) var(--sm);
  text-decoration: none;
  font-weight: 500; }

.toc-menu a:focus {
  outline: 0; }

.toc-menu a:hover, .toc-menu a:focus, .toc-menu a:active {
  color: var(--core-violet-1); }

.toc-menu a.active {
  color: var(--core-violet-3); }

.toc-menu a code {
  background: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0; }

.toc-embedded {
  max-width: 100%; }

@media (--lg) {
  .toc-embedded {
    display: none; } }
/*# sourceMappingURL=index.css.map */
