.article {
  padding-bottom: var(--lg); /* matches nav padding */
  padding-left: var(--xl);
  padding-right: var(--xl);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }

  > h1:first-child {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 3em;
    color: gray;
  }

  p,
  ul,
  ol,
  dl,
  figure,
  img {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }

  pre,
  table,
  aside {
    margin-bottom: var(--lg);
    margin-top: var(--lg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .anchor,
    &:focus .anchor {
      opacity: 0.5;
    }

    &:active .anchor {
      opacity: 0.75;
    }
  }

  .anchor {
    display: inline-block;
    height: var(--lg);
    margin-left: -$lg - $xs;
    margin-top: 10px;
    opacity: 0;
    padding-right: var(--sm);
    position: absolute;
    transition: opacity var(--transition-speed-sm) var(--transition-timing);

    &:focus {
      opacity: 0.5;
    }

    &::before {
      background-image: url(../images/icons/anchor.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: var(--lg);
      content: '';
      display: block;
      height: var(--lg);
      width: var(--lg);
    }
  }

  a {
    color: var(--core-violet-3);

    &:focus,
    &:hover {
      color: var(--core-violet-2);
    }

    &:active {
      color: var(--core-violet-4);
    }
  }

  img {
    max-width: 100%;
  }

  pre,
  code {
    font-family: var(--monospace);
    font-size: 13px;
  }

  pre {
    background: var(--aluminum-1);
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    padding: var(--md);
    overflow: auto;

    code {
      background: none;
      border: 0;
      border-radius: 0;
      top: 0;
    }
  }

  code {
    background: var(--aluminum-1);
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    padding: 2px var(--xs);
    position: relative;
    top: -1px;
  }

  table {
    display: block;
    font-size: 14px;
    overflow: auto;
    width: 100%;

    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  th {
    border-bottom: 2px solid var(--steel-3);
    text-align: left;
  }

  tr + tr {
    border-top: 1px solid var(--aluminum-3);
  }

  td,
  th {
    padding: var(--xs) var(--sm);

    + td {
      border-left: 1px solid var(--aluminum-3);
    }
  }

  ol,
  ul {
    padding-left: var(--lg);

    ol,
    ul {
      font-size: 13px;
    }

    img {
      height: auto;
      max-width: 350px;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: circle;
  }

  dl {
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    padding: var(--md);
  }

  dt {
    font-weight: var(--weight-medium);

    &::after {
      content: ':';
    }
  }

  dd {
    margin-left: 0;

    + dt {
      border-top: 1px solid var(--aluminum-3);
      margin-top: var(--sm);
      padding-top: var(--sm);
    }
  }

  aside {
    background: var(--aluminum-1);
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    color: var(--steel-1);
    font-size: 14px;
    padding: var(--md) var(--lg) var(--sm);

    &::before {
      background-image: url(../images/icons/note.svg);
      background-position: left 40%;
      background-repeat: no-repeat;
      background-size: 18px;
      color: var(--steel-5);
      content: 'Note';
      display: block;
      font-size: 16px;
      font-weight: var(--weight-medium);
      opacity: 0.7;
      padding-left: 20px;
    }
  }

  code {
    border: none;
    background-color: #f5f6fe;
    border-radius: 6px;
    color: #5766e5;
    padding: 0.2rem;
  }

  .tableblock {
    thead,
    tr,
    td,
    th,
    tbody {
      border: none;
    }

    code {
      border: none;
      background-color: #f5f6fe;
      border-radius: 6px;
      color: #5766e5;

      &.primary {
        color: #4e4e67;
      }
      &.secondary {
        color: #ab49d6;
      }
      &.light {
        color: #4f4f68;
      }
    }

    th {
      border-bottom: solid 1px #f1f1f3;
      opacity: 0.4;
      font-family: Silka;
      font-size: 12px;
      color: #282846;
      letter-spacing: 1px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  /** Custom **/

  .listingblock,
  .sidebarblock {
    padding: 1.5rem;
    background-color: #fbfbfc;
    margin: 1rem 0;
    .title {
      opacity: 0.8;
      font-family: Silka;
      font-size: 0.8rem;
      color: #4e5ee4;
      letter-spacing: 0.8px;
      line-height: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &.description {
      background-color: #fbfbfc;
    }

    code,
    pre {
      border: none;
      padding: 0;
      margin: 0;
      padding: 1rem 0;
      font-family: var(--sans-serif);
      line-height: 1.8rem;
      font-size: 0.875rem;
    }
  }

  .sidebarblock {
    border: solid 1px #e9e9ed;
    border-radius: 6px;

    &.function {
      padding: 0;
      .title {
        position: relative;
        padding: 1rem;
        background-color: #fbfbfc;
        color: #292947;
        border-bottom: solid 1px #e9e9ed;
        text-transform: none;
        font-family: var(--sans-serif);

        code {
          border: none;
          background-color: #f5f6fe;
          border-radius: 5px;
          color: #5766e5;
          padding: 3px 10px;
          display: inline;
          font-size: 0.8rem;

          &.primary {
            color: #4e4e67;
          }
          &.secondary {
            color: #ab49d6;
          }
          &.light {
            color: #4f4f68;
          }
        }
      }
      .function__type {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }

      .literalblock {
        background: white;
        padding: 1rem;

        pre,
        code {
          padding: 0;
          margin: 0;
          background-color: inherit;
        }
      }
    }
  }
}
