.toc-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-height: 100vh;
  max-width: 250px;
  overflow-y: auto;
  padding: 20px 15px 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  min-width: 200px;
  flex-basis: 200px;

  @media (--lg) {
    display: block;
  }

  & .button-edit {
    font-size: 11px;
    font-weight: var(--weight-aluminum);
    margin-bottom: var(--lg);
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.toc-menu .heading {
  color: #282846;
}

.toc-menu a {
  color: var(--color-text);
  display: block;
  font-size: 12px;
  padding: var(--xs) var(--sm);
  text-decoration: none;
  font-weight: 500;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--core-violet-1);
  }

  &.active {
    color: var(--core-violet-3);
  }

  & code {
    background: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
  }
}

.toc-embedded {
  max-width: 100%;

  @media (--lg) {
    display: none;
  }
}

/** ----- **/

.toc {
  font-size: 0.875rem;
}

.toc-menu {
  border: 0 solid var(--color-brand-red);
  border-width: 0 0 0 0.25rem;
  border-image: linear-gradient(var(--color-brand-purple), var(--color-brand-pink)) 0 0 0 100%;
  margin-bottom: 1.5rem;
}

.toc.sidebar .toc-menu {
  position: fixed; /* for IE */
  width: inherit; /* for position: fixed */
  position: sticky; /* stylelint-disable-line declaration-block-no-duplicate-properties */
  top: var(--height-to-body);
  max-height: var(--height-nav);
  overflow-y: auto;
  -ms-overflow-style: none;
}

.toc.embedded .toc-menu {
  margin-top: 1rem;
}

.toc-menu::-webkit-scrollbar {
  width: 0;
}

.toc .toc-menu h3 {
  font-size: inherit;
  font-weight: var(--weight-medium);
  margin: 0;
  line-height: 1;
}

.toc .toc-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.toc .toc-menu h3,
.toc .toc-menu ul {
  margin-left: 0.75rem;
}

.toc .toc-menu li {
  margin: 0.5rem 0 0;
}

.toc a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.toc a:hover {
  color: var(--core-violet-3);
}

.toc a.is-active {
  font-weight: 500;
}

.toc a.is-active:focus,
.toc a.is-active:hover {
  color: inherit;
}

.toc code {
  line-height: 1.125;
}
