/*

  Styling: Drupal user logged in
  ------------------------------

  .user-logged-in.toolbar-horizontal | .user-logged-in.toolbar-tray-open

*/

.user-logged-in.toolbar-horizontal header .header-wrapper {
  top: 40px;
}

.user-logged-in.toolbar-tray-open header .header-wrapper {
  top: 76px;
}

.ms-com-content.ms-com-content-header ~ .full-width-row #main {
  padding-top: 135px;
}

.ms-com-content.ms-com-content-header.scrolled ~ .full-width-row #main {
  padding-top: 200px;
}

.ms-com-content a > span.ext {
  display: none;
}


/*
  Styling: General Wrapper
  ------------------------

  .ms-com-content-header

*/

.ms-com-content input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f7f5f5 inset;
}

.ms-com-content ul {
  line-height: 25px;
  font-size: 15px;
}

.ms-com-content * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.ms-com-content a {
  text-decoration: none;
}

.ms-com-content .menu > li > a,
.ms-com-content .menu > li > span {
  display: block;
}

.ms-com-content .visually-hidden {
  display: none;
}


/*

  Styling: Promotion Banner
  -------------------------

  .ms-com-content-header-with-banner
    .promotion-banner
      .promotion-banner-inside

*/

.ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner){
  position: fixed;
  height: auto;
}

.ms-com-content-header-with-banner .promotion-banner {
  position: relative;
  width: 100%;
  height: 58px;
  text-align: center;
  background: #00a2df;
  z-index: 100;
  overflow: hidden;
}

.ms-com-content.ms-com-content-header.scrolled .promotion-banner {
  display: none;
}

.ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 1160px;
  margin: auto;
}

.ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > * {
  display: inline-block;
  vertical-align: middle;
  /*font-family: Open Sans;*/
  font-family: EOpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > .field-block-content--field-cta a {
  font-size: 15px;
  font-family: 'EOpenSans', sans-serif;
  margin-left: 20px;
  text-decoration: underline;
}

.ms-com-content-header-with-banner .promotion-banner img {
  width: auto;
  height: 35px;
  margin-right: 20px;
}

.ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside .cross {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 35px;
  line-height: 25px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.ms-com-content-header-with-banner .promotion-banner.light-blue-banner {
  background: #f4fcff;
}

.ms-com-content-header-with-banner .promotion-banner.light-blue-banner .promotion-banner-inside > * {
  color: #323031;
}

.ms-com-content-header-with-banner .promotion-banner.light-blue-banner .promotion-banner-inside > .field-block-content--field-cta a {
  color: #00a2df;
  text-decoration: none;
}

.ms-com-content-header-with-banner .promotion-banner.blue-to-indigo-banner {
  background: #00a2df;
  background: linear-gradient(90deg,#00a2df,#4079f1);
}

.ms-com-content-header-with-banner .promotion-banner.dark-blue-banner {
  background: #00044C;
}

.ms-com-content-header-with-banner header.ms-com-header .header-wrapper {
  position: absolute;
  top: 58px;
}

.ms-com-content-header-with-banner.scrolled header.ms-com-header .header-wrapper {
  position: relative;
  top: 0;
  box-shadow: 0px 1px 1px #eee;
}

.ms-com-content.ms-com-content-header.lined {
  box-shadow: 0px 1px 1px #eee;
}

@media screen and (max-width: 992px){
  .ms-com-content.ms-com-content-header.active:not(.ms-com-content-header-with-banner){
    height: 100%;
  }

  .ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > * {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px){
  .ms-com-content-header-with-banner .promotion-banner {
    height: 135px;
  }

  .ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > img {
    display: none;
  }

  .ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > .field-block-content--field-cta a {
    margin: 10px auto 0;
    display: block;
  }

  .ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside > * {
    display: block;
  }

  .ms-com-content-header-with-banner .promotion-banner .promotion-banner-inside .cross {
    top: -30px;
  }

}

.ms-com-content-header-with-banner:not(.closed):not(.scrolled) header.ms-com-header .header-wrapper {
  position: absolute;
  top: 58px;
}

/*

  Styling: Header & Footer
  ------------------------

  .ms-com-content.ms-com-content-header [.ms-com-content-header-with-banner]
    .ms-com-header.desktop-header
    .ms-com-header.mobile-header

  .ms-com-content.ms-com-content-footer
    .ms-com-footer

*/

.ms-com-content.ms-com-content-header {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.ms-com-content.ms-com-content-header.scrolled {
  position: fixed;
  height: auto;
}

.ms-com-content.ms-com-content-header.closed {
  position: fixed;
  height: auto;
}

.ms-com-content.ms-com-content-header.closed .promotion-banner {
  display: none;
}

.ms-com-content-header-with-banner.closed header.ms-com-header .header-wrapper {
  position: relative;
  top: 0;
}


.ms-com-content.ms-com-content-header header.mobile-header {
  display: none;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: 12;
  display: none;
}
.ms-com-content.ms-com-content-header header.ms-com-header.active .header-overlay {
  display: block;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper {
  background: white;
  position: relative;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 65px;
  font-family: 'EOpenSans', sans-serif;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside > * {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.ms-com-content.ms-com-content-header header.ms-com-header .logo {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
}

.ms-com-content.ms-com-content-header header.ms-com-header .logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 140px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .menu > li {
  display: inline-block;
}

.ms-com-content.ms-com-content-header header.ms-com-header .menu > li > a,
.ms-com-content.ms-com-content-header header.ms-com-header .menu > li > span{
  color: #505050;
  font-family: 'EDinPro', sans-serif;
  font-size: 15px;
  line-height: 25px;
  height: 65px;
  border-top: 3px solid transparent;
  cursor: default;
  padding: 19px 12px 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .block-mainnavigationright .menu > li > span {
  font-size: 13px;
}


.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .menu > li:hover > a,
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .menu > li:hover > span {
  border-top: 3px solid #00a2df;
  color: #2d2d2d;
  background: #f7f5f5;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper {
  position: fixed;
  display: none;
  width: auto;
  background: #f7f5f5;
  padding: 25px 19px 22px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .menu > li:hover .mega-menu-wrapper {
  display: block;

}


.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .menu {
  display: inline-block;
  margin: 0 48px 0 0;
  vertical-align: top;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-wrapper .menu:last-child {
  margin-right: 0;
}


.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-wrapper .menu > * {
  display: block;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-wrapper .menu > a {
  color: #2d2d2d;
  font-family: 'EOpenSans', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-wrapper .menu > a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-wrapper .menu span {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 13px;
  font-family: 'EDinPro', sans-serif;
  font-weight: 400;
  color: #707070;
}

/* Megamenu Footer */

.ms-com-content.ms-com-content-header header.ms-com-header .menu .field-simple-mega-menu--field-footer .field-item > a {
  font-family: 'EOpenSans', sans-serif;
  display: block;
  color: #2d2d2d;
}

.ms-com-content.ms-com-content-header header.ms-com-header .menu .field-simple-mega-menu--field-footer .field-item > a:hover {
  color: #00a2df;
}


.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-item  .field-name-field-footer a {
  color: #323031;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-item  .field-name-field-footer a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-item .field-name-field-footer a.solutions-see-all-link {
  margin-top: 15px;
  display: inline-block;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer > a {
  font-family: 'EOpenSans', sans-serif;
  display: block;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer > a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer  {
  border-top: 1px solid #ddd;
  padding: 30px 0 0;
  margin: 20px 0 0 0;
  font-size: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer.social-footer {
  padding: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .mega-menu-item-footer-featured-content:hover .content-link {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .mega-menu-item-footer-featured-content.social-content {
  padding-top: 15px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .menu > li:hover .main-menu-company + .mega-menu-wrapper {
  /* padding-right: 0px;*/

}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .field-name-field-footer .mega-menu-item-footer-featured-content.social-content a {
  line-height: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer > article {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content {
  max-width: 260px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-left-content img {
  width: 174px;
  height: auto;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content h4 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 13px;
  font-family: 'EDinPro', sans-serif;
  font-weight: normal;
  color: #707070;
  margin: 0;
  line-height: 1;
}
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content h4 a {
  color: #707070;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content .content-link {
  display: block;
  font-family: 'EOpenSans', sans-serif;
  font-size: 15px;
  margin: 5px 0 33px 0;
  line-height: 21px;
  color: #2d2d2d;
  height: 42px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content .content-link a {
  color: #2d2d2d;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content .content-link a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer .featured-right-content .button {
  background: #00a2df;
  min-width: 170px;
  width: auto;
  margin-bottom: 0;
  padding: 12px;
  color: white;
  height: 40px;
  line-height: 1;
  border-radius: 0;
  display: inline-block;
  text-align: center;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


/* Right side */

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .block-mainnavigation,
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .block-mainnavigationright {
  display: inline-block;
  width: auto;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .block-mainnavigationright {
  position: absolute;
  top: 0;
  right: 259px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .block-mainnavigationright .menu > li > a {
  font-size: 13px;
  line-height: 23px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side {
  display: inline-block;
  float: right;
  padding-right: 30px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side > * {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side > a {
  text-decoration: none;
  color: #505050;
  font-family: 'EDinPro', sans-serif;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  margin-top: 15px;
  font-size: 13px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side > a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .right-side .mega-menu-item > a,
.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .right-side a.button,
.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .right-side > a:not(:last-child)  {
  font-size: 13px;
  border-radius: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side a.button {
  color: white;
  height: auto;
  width: auto;
  min-width: auto;
  line-height: 37px;
  min-height: initial;
  border: 1px solid transparent;
  font-family: 'EDinPro', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  background: #00a2df;
  padding: 0 20px;
  -webkit-transition: none;
  transition: none;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side a.button:hover {
  border: 1px solid #00a2df;
  background: transparent;
  color: #00a2df;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .header-wrapper .mega-menu-right .mega-menu-item .mega-menu-item-content .menu {
  margin-bottom: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side .search-form {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 10;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form .search-mag-icon {
  width: 20px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  cursor: pointer;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form .search-close-icon {
  display: inline-block;
  color: #2d2d2d;
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'EDINProLight', sans-serif;
  font-weight: 300;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 20;
  opacity: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form input {
  width: 430px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  height: 44px;
  padding-left: 10px;
  display: inline-block;
  font-family: 'EOpenSans', sans-serif;
  font-size: 15px;
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome */
  appearance: none; /* rest */
  margin: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form input::-ms-clear,
.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .search-form input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form input::placeholder,
.ms-com-content.ms-com-content-header header.ms-com-header .search-form input::-webkit-input-placeholder {
  color:#707070;
  opacity: 1;
}

.ms-com-content.ms-com-content-header header.ms-com-header .search-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
}

.ms-com-content.ms-com-content-header header.ms-com-header .right-side .search-form .input-wrapper {
  width: 0;
  overflow: hidden;
  transition: 0.5s ease all;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: initial;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .right-side .search-form.active .input-wrapper {
  width: 430px;
}

.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .right-side .search-form.active .search-close-icon {
  opacity: 1;
}


@media screen and (max-width: 1160px){
  .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside {
    padding: 0 20px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside > .logo {
    // background-image: url(//);
    width: 40px;
  }
}



@media screen and (max-width: 992px){
  .ms-com-content.ms-com-content-header.active.scrolled {
    height: 100%;
  }

  .mobile-menu-active .ms-com-content.ms-com-content-header {
    position: fixed;
    overflow: scroll;
  }

  .ms-com-content.ms-com-content-header header.desktop-header {
    display: none;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 0;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active {
    height: 100%;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-header-top {
    height: 65px;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    background: white;
    box-shadow: 0px 1px 1px #eee;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .right-side {
    margin-top: 19px;
    padding: 0;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .right-side a.button {
    margin-right: 10px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu-ham {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
    cursor: pointer;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu-ham span {
    display: block;
    width: 22px;
    height: 2px;
    background: #929292;
    margin: 5px 0;
    transition: 0.5s ease all;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active .menu-ham span:first-child {
    transform: rotate(45deg);
    transform-origin: 2px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active .menu-ham span:nth-child(2) {
    opacity: 0;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active .menu-ham span:last-child {
    transform: rotate(-45deg);
    transform-origin: 0;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-header-bottom {
    position: relative;
    background: #f7f5f5;
    height: 100%;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active .mobile-header-bottom {
    display: block;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-header-bottom .search-form {
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    background: #f7f5f5;
    margin-bottom: 15px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-header-bottom .search-form input {
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    margin: 0;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header input[type="search"]::-webkit-search-decoration,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header input[type="search"]::-webkit-search-cancel-button,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header input[type="search"]::-webkit-search-results-button,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .search-close-icon {
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 7px;
    font-size: 46px;
    opacity: 1;
    display: none;
    color: #929292;
    font-family: 'EOpenSansLight', sans-serif;
    line-height: 1.1;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .search-close-icon.active {
    display: block;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li
  {
    display: block;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .block-mainnavigation,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .block-mainnavigationright {
    margin: 0;
    display: block;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-nav {
    display: block;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 90px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-nav > a,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu > li > a,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu > li > span {
    width: 100%;
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: none;
    transition: 0.5s ease all;
    cursor: default;
    height: auto;
    pointer-events: none;
    font-family: 'EDinPro', sans-serif;
    color: #505050;
    line-height: 25px;
  }

  .ms-com-content.ms-com-content-header.ms-com-content-tr header.ms-com-header.mobile-header .mobile-nav > a,
  .ms-com-content.ms-com-content-header.ms-com-content-tr header.ms-com-header.mobile-header .menu > li > a  {
    pointer-events: initial;
    cursor: pointer;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .block-mainnavigationright .menu > li > span {
    font-size: 18px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-nav > a {
    pointer-events: auto;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu > li.active > a,
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu > li.active > span {
    background: #ececec;
    border-right: 5px solid #00a2df;
    border-left: 5px solid #00a2df;
    color: #2d2d2d;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li .mega-menu-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease all;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li.active .mega-menu-wrapper {
    max-height: 3000px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li .mega-menu-wrapper .menu {
    display: block;
    margin: 18px 0 30px 60px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li .mega-menu-wrapper .menu span {
    font-size: 15px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li .mega-menu-wrapper .menu a {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu li .mega-menu-wrapper .menu:last-child {
    margin: 18px 10px 0 60px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .menu .field-simple-mega-menu--field-footer {
    display: none;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-social-icons {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 7px;
    width: 100%;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-social-icons .nav-social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0 5px;
  }

  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .mobile-social-icons p {
    font-family: 'EOpenSans', sans-serif;
    font-size: 15px;
    color: #757575;
    margin: 26px auto;
  }

}

@media screen and (max-width: 480px){
  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header .right-side a.button {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
  }
}



/*

  Styling:  Footer
  ------------------------

  .ms-com-content.ms-com-content-footer
    .ms-com-footer

*/

.ms-com-content.ms-com-content-footer footer {
  background: white;
}

.ms-com-content.ms-com-content-footer footer .footer-inside {
  max-width: 1160px;
  margin: 0 auto;
}

.ms-com-content.ms-com-content-footer footer .footer-inside:before {
  content:'';
  display: block;
  border-top: 1px solid #CCC;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside {
  text-align: center;
  padding: 0 10px 25px;
  position: relative;
}


.ms-com-content.ms-com-content-footer  footer .footer-bottom .footer-inside > *  {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
}


.ms-com-content.ms-com-content-footer footer .footer-top .footer-inside {
  padding: 0 10px;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-inside:before {
  margin-bottom: 53px;
}


.ms-com-content.ms-com-content-footer footer .footer-top .footer-inside nav a {
  font-family: "EDINProMedium", Arial, sans-serif;
  font-size: 13px;
  margin-right: 10px;
  color: #00a2df;
}


.ms-com-content.ms-com-content-footer footer .footer-top .footer-inside .mulecopy {
  font-family: "EDINProMedium", sans-serif;
  font-size: 11px;
  color: #757575;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 32px;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-inside .mulecopy a {
  color: #00a2df;
}

.ms-com-content.ms-com-content-footer  footer .footer-bottom .footer-inside > .footer-copyright {
  position: absolute;
  left: 10px;
  color: #BBBBBB;
  font-family: 'EOpenSansBold', sans-serif;
  font-size: 16px;
}

.ms-com-content.ms-com-content-footer footer .social-logos a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(/themes/custom/mule_foundation/images/footer-social-icons.svg);
  background-size: 541% 100%;
  background-position: 0 0;
}
.ms-com-content.ms-com-content-footer footer .social-logos a:hover {
  background: url(/themes/custom/mule_foundation/images/footer-social-icons-hover.svg);
  background-size: 541% 100%;
  background-position: 0 0;
}

.ms-com-content.ms-com-content-footer footer .social-logos a.icon-muletheme-linkedin {
  background-position: -29px 0;
}

.ms-com-content.ms-com-content-footer footer .social-logos a.icon-muletheme-facebook {
  background-position: -59px 0;
}

.ms-com-content.ms-com-content-footer footer .social-logos a.icon-muletheme-instagram {
  background-position: -89px 0;
}

.ms-com-content.ms-com-content-footer footer .social-logos a.icon-muletheme-videos {
  background-position: -119px 0;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form {
  overflow: hidden;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm {
  float: left;
  margin-bottom: 30px;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu ul {
  margin-right: 40px;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li {
  display: inline-block;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li > a {
  color: #323031;
  font-size: 18px;
  font-family: 'EDinPro', sans-serif;
  padding: 0;
  margin-bottom: 10px;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li > span {
  color: #323031;
  font-size: 18px;
  font-family: 'EDinPro',sans-serif;
  padding: 0;
  margin-bottom: 10px;
  display: block;
  line-height: 1;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu ul {
  list-style: none;
}

.ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu a {
  font-family: 'EOpenSans', sans-serif;
  line-height: 1;
  color: #00a2df;
}

.ms-com-content.ms-com-content-footer footer .footer-links-marketo-form .mktoForm {
  float: right;
  width: auto !important;
}

.ms-com-content.ms-com-content-footer footer form h4 {
  font-family: 'EDinPro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #323031;
}

.ms-com-content.ms-com-content-footer footer .mktoForm .mktoButtonWrap {
  margin: 0 !important;
}

.ms-com-content.ms-com-content-footer footer .footer-links-marketo-form .mktoForm .mktoGutter,
.ms-com-content.ms-com-content-footer footer .footer-links-marketo-form .mktoForm .mktoRequiredField label.mktoLabel,
.ms-com-content.ms-com-content-footer footer .footer-links-marketo-form .mktoForm .mktoClear,
.ms-com-content.ms-com-content-footer footer .footer-links-marketo-form .mktoForm .mktoOffset {
  display: none;
}


.ms-com-content.ms-com-content-footer footer .mktoForm .mktoFormRow,
.ms-com-content.ms-com-content-footer footer .mktoForm .mktoButtonRow {
  display: inline-block;
  vertical-align: top;
}

.ms-com-content.ms-com-content-footer footer .mktoForm input,
.ms-com-content.ms-com-content-footer footer .mktoForm button {
  height: 50px;
}

.ms-com-content.ms-com-content-footer footer .mktoForm input {
  padding-left: 10px;
  width: 205px !important;
  font-size: 13px;
  border: 1px solid #DDD !important;
  box-shadow: none !important;
  border-radius: 0;
}

.ms-com-content.ms-com-content-footer footer .mktoForm button {
  width: 50px;
  background: #00a2df !important;
  box-shadow: none;
  border: none !important;
}



/*

** Language Selector: CSS Logic

*/

/* Translateble Pages */
.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
  display: none;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
  display: inline-block
}

/* Translateble Pages: English (default) */
.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.english {
  display: none;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li:not(.english) {
  display: none;
}

/* Translateble Pages: Not English (default) */
body.translatable-page[class*='smartling-'] .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.english,
body.translatable-page[class*='smartling-'] .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li {
  display: block;
}

body.translatable-page[class*='smartling-'] .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li {
  display: none;
}


body.translatable-page.smartling-zh .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.chinese,
body.translatable-page.smartling-de .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.german,
body.translatable-page.smartling-jp .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.japanese,
body.translatable-page.smartling-fr .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li.french {
  display: none;
}

body.translatable-page.smartling-zh .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li.chinese,
body.translatable-page.smartling-de .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li.german,
body.translatable-page.smartling-jp .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li.japanese,
body.translatable-page.smartling-fr .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li.french {
  display: block;
}

/* Language Selector: CSS Styling */

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection {
  display: none;
}

body.translatable-page .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
  margin-left: 5px;
  border: 1px solid rgba(255,255,255,0);
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
  vertical-align: bottom;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li {
  list-style: none;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection,
.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li {
  margin: 0;
  background: white;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li a {
  color: rgba(0,0,0,0.7);
  font-size: 15px;
  display: block;
  padding: 5px 10px;
  text-align: left;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li a sub {
  bottom: 0;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li a:hover {
  color: rgba(0,0,0,1);

}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selection li a:hover {
  background: #F4FCFF;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li a:before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url(/sites/default/files/cmm_files/language-selector-graphics_v6.svg);
  background-repeat: no-repeat;
  background-position: 1px 0px;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li.german a:before {
  background-position: -27px 0px;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li.french a:before {
  background-position: -83px 0px;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li.japanese a:before {
  background-position: -139px 0px;
}


.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li a:after {
  content:'';
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  width: 13px;
  height: 7px;
  margin-left: 5px;
  background-image: url(/themes/custom/mule_foundation/images/language-selector-graphics.svg);
  background-repeat: no-repeat;
  background-position: -102px -5px;
  opacity: 0.5;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper li a:hover::after {
  opacity: 1.0;
}

body.translatable-page .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper.active {
  border: 1px solid rgba(0,0,0,0.1);
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper.active .language-selected {
  border-top: 1px solid transparent;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper.active .language-selected li a:after {
  transform: rotate(180deg);
}
.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper.active .language-selected li a {
  background: rgba(0,0,0,0.05);
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper.active .language-selection {
  display: block;
}

.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
  position: absolute;
  right: 10px;
  bottom: 40%;
  z-index: 1;
  padding-top: 0;
}


.smartling-de .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu  li {
  margin-bottom: 10px;
}

.smartling-de .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu a {
  display: block;
  line-height: 1.5;
}

.smartling-de .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li {
  max-width: 250px;
  vertical-align: top;
}

@media screen and (max-width:1160px){
  .smartling-de .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li {
    max-width: 235px;
  }
}


@media screen and (max-width: 992px){
  .ms-com-content.ms-com-content-footer footer .footer-top .footer-inside {
    padding: 53px 20px 0;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-inside:before {
    margin-bottom: 30px;
  }

  .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside {
    padding: 0 20px 25px;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form {
    overflow: initial;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .mktoForm,
  .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form form h4 {
    padding: 0;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .footer-tm {
    display: none;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-links-marketo-form .mktoForm,
  .ms-com-content.ms-com-content-footer footer .mktoForm input,
  .ms-com-content.ms-com-content-footer footer .mktoForm .mktoFormCol,
  .ms-com-content.ms-com-content-footer footer .mktoForm .mktoFieldWrap,
  .ms-com-content.ms-com-content-footer footer .mktoForm input {
    float: none;
    width: 100% !important;
  }

  .ms-com-content.ms-com-content-footer footer .mktoForm .mktoFormRow {
    width: calc(100% - 50px) !important;
    float: left;
  }

  .ms-com-content.ms-com-content-footer footer .mktoForm .mktoButtonRow {
    width: 50px !important;
  }

  .ms-com-content.ms-com-content-footer footer .mktoForm .mktoError {
    right: auto !important;
  }

  body.translatable-page .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .language-selector-wrapper {
    right: 20px;
  }
  .ms-com-content.ms-com-content-footer  footer .footer-bottom .footer-inside > .footer-copyright {
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside {
    text-align: left;
  }

  .ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside .social-logos {
    margin-top: 30px;
  }

  .ms-com-content.ms-com-content-footer footer .footer-top .footer-inside nav a.removable {
    display: none;
  }
}


/* Exchange Banner */
.ms-com-content+.exchange-banner {
  background-position: center center;
  min-height: 250px;
  position:relative;
  min-height: 300px !important;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ms-com-content+.exchange-banner .exchange-banner-inside {
  max-width: 1160px;
  margin: 0 auto;
  padding: 60px 15px 40px;
  color: white;
}

.ms-com-content+.exchange-banner a.blue-button {
  display: inline-block;
  background: none;
  color: #00a1e0;
  height: 40px;
  min-width: 120px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-family: "EOpenSans", arial, helvetica, sans-serif;
  border: 1px solid #00a1e0;
  width: auto;
  height: auto;
  margin-bottom: 15px;
  margin-right: 5px;
  text-decoration: none;
}

.ms-com-content+.exchange-banner a.blue-button:hover {
  background: #00a2df;
  color: #fff;
}

.exchange-banner .exchange-banner-inside h1 {
  font-family: 'EDINProLight', sans-serif;
  font-weight: normal;
  font-size: 33px;
  color: #40b4e5;
}

.ms-com-content+.exchange-banner .exchange-banner-inside p {
  font-family: 'EOpenSans';
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

.ms-com-content+.exchange-banner .exchange-banner-inside .top-links {
  text-align: right;
  font-size: 15px;
  margin-top: 15px;
}

.ms-com-content+.exchange-banner .top-links a {
  color: white;
  text-decoration: none;
  font-family: 'EOpenSans';
  margin-left: 10px;
  font-size: 13px;
}

.ms-com-content+.exchange-banner .top-links a:hover {
  color: #00a2df;
}

.ms-com-content+.exchange-banner .top-links a:last-child {
  position: relative;
}

.ms-com-content+.exchange-banner .top-links a:last-child:before {
  content: '|';
  position: absolute;
  left: -10px;
}

.ms-com-content+.exchange-banner .top-links a:last-child:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  width: 25px;
  height: 18px;
}


@media screen and (max-width: 768px){
  .ms-com-content+.exchange-banner a.blue-button {
    min-width: auto;
  }

  .ms-com-content+.exchange-banner .exchange-banner-inside .top-links {
    text-align: left;
  }
}


/* Positioning correction */
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper {
  position: absolute;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-header {
  white-space: nowrap;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer {
  white-space: initial;
  min-width: 480px;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer.social-footer {
  min-width: 191px;
}

body.header-scrolled:not(.header-promo-closed) main#main {
  padding-top: 58px;
}

body.header-scrolled:not(.header-promo-closed) div#main{
  margin-top: 58px;
}

@media screen and (max-width: 768px){
  body.header-scrolled:not(.header-promo-closed) main#main {
    padding-top: 135px;
  }

  body.header-scrolled:not(.header-promo-closed) div#main{
    margin-top: 135px;
  }
}


@media screen and (max-width: 992px){
  body.mobile-menu-active {
    overflow: hidden;
  }

  .ms-com-content.ms-com-content-header.closed {
    height: 100%;
  }

  .ms-com-content.ms-com-content-header.active.scrolled {
    padding-top: 200px;
  }
  .ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner).active,
  .ms-com-content.ms-com-content-header.active.closed {
    padding-top: 65px;
  }

  .mobile-menu-active .ms-com-content.ms-com-content-header {
    background: #f7f5f5;
  }
  .ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner) .mobile-header.active .mobile-header-top,
  .ms-com-content-header-with-banner.closed .mobile-header.active .mobile-header-top,
  .ms-com-content.ms-com-content-header.scrolled .mobile-header.active .mobile-header-top {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .ms-com-content.active {
    /*-webkit-overflow-scrolling: touch;*/
  }


  .ms-com-content.ms-com-content-header header.ms-com-header.mobile-header.active .mobile-header-bottom {
    height: auto;
  }
}


.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .featured-left-content .play-button {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 50px;
  height: 50px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  cursor: pointer;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .featured-left-content {
  position: relative;
}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .featured-left-content,
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .featured-right-content {
  font-size: 15px;
}
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .featured-left-content img {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer.no-border-top {
  border-top: 0px;

}

.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .menu > li:hover .main-menu-company + .mega-menu-wrapper a:hover p {
  color: #2d2d2d;

}


.ms-com-content.ms-com-content-header .social-logos a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(/themes/custom/mule_foundation/images/footer-social-icons.svg);
  background-size: 541% 100%;
  background-position: 0 0;
}
.ms-com-content.ms-com-content-header .social-logos a:hover {
  background: url(/themes/custom/mule_foundation/images/footer-social-icons-hover.svg);
  background-size: 541% 100%;
  background-position: 0 0;
}

.ms-com-content.ms-com-content-header .social-logos *  {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
}

.ms-com-content.ms-com-content-header .social-logos a.icon-muletheme-linkedin {
  background-position: -29px 0;
}

.ms-com-content.ms-com-content-header  .social-logos a.icon-muletheme-facebook {
  background-position: -59px 0;
}
.ms-com-content.ms-com-content-header .social-logos a.icon-muletheme-instagram {
  background-position: -89px 0;
}
.ms-com-content.ms-com-content-header .social-logos a.icon-muletheme-videos {
  background-position: -119px 0;
}


.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper .mega-menu-item-footer > a.mega-menu-item-footer-featured-content {
  margin-bottom: 3px;
}


.ms-com-content.ms-com-content-header header.ms-com-header .mega-menu-item .field-name-field-footer .social-logos a {
  margin-right: 7px;
}


/* Translated Content */

.ms-com-content.ms-com-content-header.ms-com-content-tr header.ms-com-header .right-side {
  padding-right: 0;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr header.ms-com-header.desktop-header .menu > li:hover > a {
  background: none;
  border-color: transparent;
  color: #00a2df;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr .header-message {
  background: #f4fcff;
  max-height: 40px;
  height: 40px;
  padding: 0;
  transition: .3s ease all;
}

.ms-com-content.ms-com-content-header.lined.ms-com-content-tr .header-message {
  max-height: 0;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr .header-message a {
  padding-top: 10px;
  display: block;
}


.ms-com-content.ms-com-content-header.ms-com-content-tr .header-message .header-message-inside {
  max-width: 1140px;
  margin: auto;
  text-align: right;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr .header-message a {
  font-size: 13px;
  color: #00a2df;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr .header-message a:hover {
  color: #00a2df;
}

.ms-com-content.ms-com-content-header.ms-com-content-tr header.ms-com-header .menu > li > a {
  cursor: pointer;
}

@media screen and (max-width: 1160px){
  .ms-com-content.ms-com-content-header.ms-com-content-tr .header-message .header-message-inside {
    padding: 0 20px;
  }
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-tm > * {
  display: inline-block;
  vertical-align: top;
}


.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .logo {
  // background-image: url(//);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  vertical-align: middle;
  height: 40px;
  width: 130px;
  margin-right: 60px;
  margin-bottom: 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr .ms-com-footer  {
  background: #f6f6f9;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-inside:before {
  margin-bottom: 37px;
}
.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-inside nav a {
  margin-right: 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr .ms-com-footer .footer-top > .footer-inside:before {
  border-top: 1px solid transparent;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside {
  text-align: left;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-copyright {
  position: static;
  font-family: 'EOpenSans', sans-serif;
  color: #323031;
  margin-right: 22px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-bottom-links {
  margin-left: 0;
  margin-right: 150px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-bottom-links a {
  font-family: 'EOpenSans', sans-serif;
  color: #323031;
  font-size: 15px;
  /*margin: 0 10px;*/
  margin: 0 10px 0 0;
  line-height: 25px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
  max-width: 330px;
  margin-top: 20px;
  margin-right: 156px;
}
.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description p {
  color: #323031;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description .social-logos {
  margin-top: 15px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .social-logos a {
  width: 31px;
  height: 31px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .social-logos a.icon-muletheme-linkedin {
  background-position: -34px 0;
}


.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .social-logos a.icon-muletheme-facebook {
  background-position: -69px 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .social-logos a.icon-muletheme-instagram {
  background-position: -103px 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .social-logos a.icon-muletheme-videos {
  background-position: -136.8px 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-links-marketo-form .footer-tm nav > .menu > li > span,
.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-inside nav a {
  font-family: 'EOpenSans', sans-serif;
  font-size: 15px;
}

/* Language Selector */
body.translatable-page .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper {
  bottom: 15%;
  min-width: 150px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper li a {
  padding: 10px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper li a:before {
  width: 25px;
  height: 25px;
  background-image: url(/sites/default/files/cmm_files/language-selector-graphics_v6.svg);
  background-position: 1px 0;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper .language-selected li a:after {
  margin-top: 10px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper li.german a:before {
  background-position: -27px 0px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper li.french a:before {
  background-position: -83px 0px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper li.japanese a:before {
  background-position: -139px 0px;
}

.ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper.active .language-selected li a {
  background: #f6f6f6;
}


@media screen and (max-width: 992px){
  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-links-marketo-form .footer-tm {
    display: block;
    float: none;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-top .footer-inside {
    padding: 0 20px 0;
  }
}

@media screen and (max-width: 768px){
  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
    margin-right: 20px;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
    max-width: 250px;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-bottom-links {
    display: block;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-bottom-links {
    display: block;
    margin-left: 0;
  }

  body.translatable-page .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside .language-selector-wrapper {
    display: block;
    right: auto;
    left: 10px;
    margin-left: 0;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 480px){

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description + div {
    margin-top: 20px;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
    max-width: 100%;
  }

  .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .footer-bottom .footer-inside > .footer-bottom-links a {
    margin: 0 10px  0 0;
  }
}


/* Translated pages exceptions */
@media screen and (max-width: 992px) {
  .smartling-jp .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
    max-width: 330px;
    margin-top: 20px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 768px){
  .smartling-jp .ms-com-content.ms-com-content-footer.ms-com-content-tr footer .ms-com-content-tr-footer-description {
    margin-bottom: 20px
  }
}